@model viacinema.Models.ViewModels.ReservationsViewModel

@{
    ViewData["Title"] = "Reservations";
}

<h2>Your Reservations</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Seat</th>
            <th scope="col">Room</th>
            <th scope="col">Start time</th>
            <th scope="col">Screen type</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Payment payment in @Model.Payments)
            {
                <tr>
                    <th scope="row">@payment.Screening.Movie.Title</th>
                    <td>@payment.SeatNo</td>
                    <td>@payment.Screening.RoomNo</td>
                    <td>@payment.Screening.StartTime</td>
                    <td>@payment.Screening.ScreenType</td>
                </tr>
            }
        }
    </tbody>
</table>

<style>
    table {
        margin-top: 30px;
    }
    td, th {
        height: 50px;
        line-height: 50px;
        font-size: 17px;
    }
</style>